# Week 2

## Installing and importing a python package/library

- Installing Pandas Library for Data Processing 
- What is Pandas? 
    - Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
    - Its main data format is the DataFrame, which is like a 2D array, but with column names and indexes for the rows.

### Using pip to install Pandas

In [ ]:
# Need to only be run once per environment. No need to run it again in every project.

import sys
!{sys.executable} -m pip install pandas

### Importing pandas package library

In [127]:
# Imprting pandas library as pd so instead of wrting pandas everywhere we can call pd which is shorter
import pandas as pd

## Loading and exploring data with Pandas



First we load in the data. This particular dataset is from [NYC granted film permits](https://data.cityofnewyork.us/City-Government/Film-Permits/tg4x-b46p) and is in the **comma-separated variable (.csv)** format.

``
df = pd.read_csv("data/Film_Permits.csv")
``

Pandas shows us the **head** (first rows) and the **tail** (last rows), as well as the **shape**. So we know there are 14 columns (separate pieces of info about each permit), and 67359 permits granted.

We can see its a mix of categorical data (EventType, Borough etc...), unique IDs, and dates. The categories are mainly **nominal**, in that they have no instrinsic order. Even the ones which are numbers (like CommunityBoard(s) and PolicePrecinct(s)) are **nominal**, in that the numbers don't represent a ranking (one isn't best), and we would never want to do any maths with them 

The dates however, are **continuous**, in that they are numbers that could take any value, and that we could do arithmetic (e.g. subtract one from the other to find a time).

In [128]:
#load
#pd.options.display.max_rows = 100
df = pd.read_csv("data/Film_Permits.csv")

In [129]:
# Standard format is rows x colums
# Hence our dataset has 67359 rows and 14 colums
df.shape

(67359, 14)

In [130]:
df

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
0,446040,Shooting Permit,10/19/2018 02:00:00 PM,10/20/2018 04:00:00 AM,10/16/2018 11:57:27 AM,"Mayor's Office of Film, Theatre & Broadcasting",THOMPSON STREET between PRINCE STREET and SPRI...,Manhattan,2,1,Television,Cable-episodic,United States of America,10012
1,446168,Shooting Permit,10/19/2018 02:00:00 PM,10/20/2018 02:00:00 AM,10/16/2018 07:03:56 PM,"Mayor's Office of Film, Theatre & Broadcasting",MARBLE HILL AVENUE between WEST 227 STREET an...,Manhattan,"12, 8","34, 50",Film,Feature,United States of America,"10034, 10463"
2,186438,Shooting Permit,10/30/2014 07:00:00 AM,10/31/2014 02:00:00 AM,10/27/2014 12:14:15 PM,"Mayor's Office of Film, Theatre & Broadcasting",LAUREL HILL BLVD between REVIEW AVENUE and RUS...,Queens,"2, 5","104, 108",Television,Episodic series,United States of America,11378
3,445255,Shooting Permit,10/20/2018 07:00:00 AM,10/20/2018 06:00:00 PM,10/09/2018 09:34:58 PM,"Mayor's Office of Film, Theatre & Broadcasting",JORALEMON STREET between BOERUM PLACE and COUR...,Brooklyn,2,84,Still Photography,Not Applicable,United States of America,11201
4,128794,Theater Load in and Load Outs,11/16/2013 12:01:00 AM,11/17/2013 06:00:00 AM,11/07/2013 03:48:28 PM,"Mayor's Office of Film, Theatre & Broadcasting",WEST 31 STREET between 7 AVENUE and 8 AVENUE...,Manhattan,"4, 5",14,Theater,Theater,United States of America,"10001, 10121"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67354,511630,Shooting Permit,10/11/2019 10:00:00 AM,10/11/2019 11:00:00 PM,10/08/2019 02:05:06 PM,"Mayor's Office of Film, Theatre & Broadcasting","44 ROAD between 24 STREET and HUNTER STREET, ...",Queens,2,108,Television,Episodic series,United States of America,11101
67355,548906,Shooting Permit,10/18/2020 06:00:00 AM,10/19/2020 06:00:00 PM,10/14/2020 03:50:06 PM,"Mayor's Office of Film, Theatre & Broadcasting",MADISON AVENUE between EAST 45 STREET and EA...,Manhattan,5,"14, 18",Commercial,Commercial,United States of America,10017
67356,491040,Shooting Permit,06/12/2019 07:00:00 AM,06/12/2019 08:00:00 PM,06/10/2019 12:38:04 PM,"Mayor's Office of Film, Theatre & Broadcasting",SPOFFORD AVENUE between COSTER STREET and FAIL...,Bronx,"1, 2, 7","40, 41, 72",Television,Episodic series,United States of America,"10454, 10474, 11220"
67357,548583,Shooting Permit,10/19/2020 08:00:00 AM,10/19/2020 11:59:00 PM,10/08/2020 05:05:23 PM,"Mayor's Office of Film, Theatre & Broadcasting",QUEENS PLAZA SOUTH between 21 STREET and 22 ST...,Queens,2,108,Television,Episodic series,United States of America,11101
67358,548866,Shooting Permit,10/19/2020 07:00:00 AM,10/19/2020 09:00:00 PM,10/14/2020 11:41:01 AM,"Mayor's Office of Film, Theatre & Broadcasting",COVERT STREET between WYCKOFF AVENUE and IRVIN...,Queens,"4, 5","104, 83",Television,Episodic series,United States of America,"11237, 11385"

In [131]:
# Let's say we want to just peak at the first five rows of our dataset we can then use .head()
# Since our dataframe is in the varaible df we are asking it to show us the first five rows using df.head(5)

df.head(5)

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
0,446040,Shooting Permit,10/19/2018 02:00:00 PM,10/20/2018 04:00:00 AM,10/16/2018 11:57:27 AM,"Mayor's Office of Film, Theatre & Broadcasting",THOMPSON STREET between PRINCE STREET and SPRI...,Manhattan,2,1,Television,Cable-episodic,United States of America,10012
1,446168,Shooting Permit,10/19/2018 02:00:00 PM,10/20/2018 02:00:00 AM,10/16/2018 07:03:56 PM,"Mayor's Office of Film, Theatre & Broadcasting",MARBLE HILL AVENUE between WEST 227 STREET an...,Manhattan,"12, 8","34, 50",Film,Feature,United States of America,"10034, 10463"
2,186438,Shooting Permit,10/30/2014 07:00:00 AM,10/31/2014 02:00:00 AM,10/27/2014 12:14:15 PM,"Mayor's Office of Film, Theatre & Broadcasting",LAUREL HILL BLVD between REVIEW AVENUE and RUS...,Queens,"2, 5","104, 108",Television,Episodic series,United States of America,11378
3,445255,Shooting Permit,10/20/2018 07:00:00 AM,10/20/2018 06:00:00 PM,10/09/2018 09:34:58 PM,"Mayor's Office of Film, Theatre & Broadcasting",JORALEMON STREET between BOERUM PLACE and COUR...,Brooklyn,2,84,Still Photography,Not Applicable,United States of America,11201
4,128794,Theater Load in and Load Outs,11/16/2013 12:01:00 AM,11/17/2013 06:00:00 AM,11/07/2013 03:48:28 PM,"Mayor's Office of Film, Theatre & Broadcasting",WEST 31 STREET between 7 AVENUE and 8 AVENUE...,Manhattan,"4, 5",14,Theater,Theater,United States of America,"10001, 10121"

##  Data types

### Checking data types


We've considered what data is there, but some is numbers, some is text, some are dates. What does **Pandas** think each one is? This is important because it will determine what we can do with the data in each column, how it will be sorted, and filtered etc...

We can use 

``df.dtypes``

to see each columns data type. We see that they are all **objects**, which is the Pandas type for strings or mixed values. We can load the data in again and tell it which columns represent dates, and it will automatically parse them is they are in a consistent format. This means we can do things like compare them (e.g. which one is earlier?), which is really useful for sorting. 

You will see the loading takes longer, as it has to parse the dates, and that afterwards the chosen columns are of the ``datetime64[ns]`` type

In [132]:
# What are the types?
# Checking the data type of each columne

df.dtypes

EventID               int64
EventType            object
StartDateTime        object
EndDateTime          object
EnteredOn            object
EventAgency          object
ParkingHeld          object
Borough              object
CommunityBoard(s)    object
PolicePrecinct(s)    object
Category             object
SubCategoryName      object
Country              object
ZipCode(s)           object
dtype: object

### Loading and formating date types

- As we can see above that the columns "StartDateTime", "EndDateTime", and "EnteredOn" are being read as a object even though they contain date and time hence should be in the datetime format.
- Refer to https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html for more information on other formats.

In [133]:
# Reloading the csv data and parsing the dates in the correct format.

df = pd.read_csv("data/Film_Permits.csv", parse_dates=["StartDateTime","EndDateTime","EnteredOn"])

In [134]:
# Checking if the data has been parsed in the correct format

df.dtypes

EventID                       int64
EventType                    object
StartDateTime        datetime64[ns]
EndDateTime          datetime64[ns]
EnteredOn            datetime64[ns]
EventAgency                  object
ParkingHeld                  object
Borough                      object
CommunityBoard(s)            object
PolicePrecinct(s)            object
Category                     object
SubCategoryName              object
Country                      object
ZipCode(s)                   object
dtype: object

## Summarising Data

**Pandas** can also give us a summary of our data (67359 is a lot to look at ourselves!). 

``df.describe(include = "all")``

In [135]:
df.describe()

             EventID
count   67359.000000
mean   282618.005849
std    146069.216982
min     42069.000000
25%    152266.000000
50%    276047.000000
75%    408197.500000
max    549009.000000

If we don't put ``include = "all"``, then we will only get summary stastics for **numeric** columns.

In [136]:
df.describe(include = "all")

/var/folders/4l/xm5jn32j517d842_nfd4nvymkgphp6/T/ipykernel_59212/426132078.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include = "all")

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
count,67359.000000,67359,67359,67359,67359,67359,67359,67359,67341,67341,67359,67359,67359,67341
unique,NaN,4,26509,32433,66808,1,39417,5,836,2598,10,30,10,5058
top,NaN,Shooting Permit,2018-11-13 06:00:00,2019-12-04 22:00:00,2018-01-30 12:43:07,"Mayor's Office of Film, Theatre & Broadcasting",WEST 48 STREET between 6 AVENUE and 7 AVENUE,Manhattan,1,94,Television,Episodic series,United States of America,11222
freq,NaN,58638,24,16,6,67359,1444,32958,14828,7263,36985,21549,67291,6427
first,NaN,NaN,2012-01-01 06:00:00,2012-01-02 23:59:00,2011-12-07 16:38:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-10-19 08:00:00,2020-12-31 01:00:00,2020-10-15 16:07:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,282618.005849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,146069.216982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,42069.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,152266.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,276047.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,408197.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,549009.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When we run the code, we get a table of stats describing our data. We can see that alot of the stats that are number based dont return values for our **nominal** columns, which is fine. But things such as the most common, and number of unique entries are stil interesting. 

For example, all 5 New York Boroughs are present, and Manahattan is the most common. We can also see the first filming started on **2012-01-01 06:00:00**, and this works because we formatted it as a date, so Pandas is able to order them.

## Selecting Columns


We can select a column using its name 

``df["ColumnName"]``

Or we can select a bunch of columns by passing an array 

``df[["ColumnName1","ColumnName2"]]``

This returns a smaller **Series** object with the results but we can also use 

``result.values``

In [137]:
#select column
df["SubCategoryName"]

0         Cable-episodic
1                Feature
2        Episodic series
3         Not Applicable
4                Theater
              ...
67354    Episodic series
67355         Commercial
67356    Episodic series
67357    Episodic series
67358    Episodic series
Name: SubCategoryName, Length: 67359, dtype: object

In [138]:
#select columns
df[["Category","SubCategoryName"]]

                Category  SubCategoryName
0             Television   Cable-episodic
1                   Film          Feature
2             Television  Episodic series
3      Still Photography   Not Applicable
4                Theater          Theater
...                  ...              ...
67354         Television  Episodic series
67355         Commercial       Commercial
67356         Television  Episodic series
67357         Television  Episodic series
67358         Television  Episodic series

[67359 rows x 2 columns]

In [139]:
#select column and get it back as an array of values
df["SubCategoryName"].values

array(['Cable-episodic', 'Feature', 'Episodic series', ...,
       'Episodic series', 'Episodic series', 'Episodic series'],
      dtype=object)

For more information on the differnce between lists and arrays check out https://www.geeksforgeeks.org/difference-between-list-and-array-in-python/

## Counting Columns


We can get counts to see what the most prevalent combinations of categories are. 
- Here, for the type of thing being filmed, we can see **Feature Films** and **Epsiodic TV Series** are the most common. This is a good way for us to get a feel for all the different things that are filmed in New York and what you need a permit for. 

``df[["Category","SubCategoryName"]].value_counts()``

I wonder what **Television - Not Applicable** is?

In [140]:
df[["Category","SubCategoryName"]].value_counts()

Category             SubCategoryName
Television           Episodic series            21549
Film                 Feature                     9116
Television           Cable-episodic              7262
Theater              Theater                     6759
Commercial           Commercial                  4267
Still Photography    Not Applicable              4027
WEB                  Not Applicable              2460
Television           Pilot                       1691
                     News                        1519
Film                 Not Applicable              1036
Television           Cable-other                  765
Film                 Short                        727
Television           Not Applicable               702
                     Made for TV/mini-series      665
                     Reality                      646
                     Morning Show                 612
Commercial           Promo                        599
Television           Special/Awards Show          400
                     Variety                      352
                     Talk Show                    332
Commercial           Industrial/Corporate         311
Student              Student Film                 304
Documentary          Not Applicable               282
Television           Cable-daily                  227
Music Video          Signed Artist                163
Commercial           PSA                          129
Student              Not Applicable               122
Television           Game show                    101
                     Children                      81
                     Syndication/First Run         44
Music Video          Independent Artist            37
                     Not Applicable                25
Television           Daytime soap                  20
                     Magazine Show                 17
Commercial           Trailers                       3
                     Short                          2
Still Photography    Commercial                     2
Commercial           Not Applicable                 2
Red Carpet/Premiere  TV Premiere                    1
dtype: int64

## Filtering

As well as picking whole columns, we can also pick columns that fit certain parameters, using **filtering**. To do this we pick columns that equal a certain value

``df[df["SubCategoryName"]=="Independent Artist"]``

In [141]:
df[df["SubCategoryName"]=="Independent Artist"]

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
384,193044,Shooting Permit,2014-12-07 17:00:00,2014-12-08 06:00:00,2014-12-05 05:15:28,"Mayor's Office of Film, Theatre & Broadcasting",SOUTH STREET between RUTGERS SLIP and PIKE SLIP,Manhattan,3,7,Music Video,Independent Artist,United States of America,10002
863,446208,Shooting Permit,2018-10-25 06:00:00,2018-10-26 23:30:00,2018-10-17 12:08:31,"Mayor's Office of Film, Theatre & Broadcasting","53 STREET between 1 AVENUE and 2 AVENUE, 54 S...",Brooklyn,7,72,Music Video,Independent Artist,United States of America,"11220, 11232"
5776,181545,Shooting Permit,2014-09-23 05:30:00,2014-09-23 19:00:00,2014-09-16 09:08:59,"Mayor's Office of Film, Theatre & Broadcasting",BROADWAY between 29 STREET and CRESCENT STREET,Queens,1,114,Music Video,Independent Artist,United States of America,11106
7023,238243,Shooting Permit,2015-08-10 06:00:00,2015-08-10 20:00:00,2015-07-30 11:52:43,"Mayor's Office of Film, Theatre & Broadcasting",VARICK STREET between WEST HOUSTON STREET and ...,Manhattan,2,1,Music Video,Independent Artist,United States of America,10014
9285,123588,Shooting Permit,2013-10-06 19:00:00,2013-10-06 23:00:00,2013-09-25 15:31:48,"Mayor's Office of Film, Theatre & Broadcasting",WALKER STREET between CORTLANDT ALLEY and LAFA...,Manhattan,1,5,Music Video,Independent Artist,United States of America,10013
10441,84732,Shooting Permit,2013-01-26 06:00:00,2013-01-26 22:00:00,2013-01-24 14:16:50,"Mayor's Office of Film, Theatre & Broadcasting",WEST THIRD STREET between THOMPSON STREET and ...,Manhattan,2,6,Music Video,Independent Artist,United States of America,10012
10654,103560,Shooting Permit,2013-05-27 08:00:00,2013-05-27 20:00:00,2013-05-22 12:43:29,"Mayor's Office of Film, Theatre & Broadcasting",GANSEVOORT STREET between GREENWICH STREET and...,Manhattan,2,6,Music Video,Independent Artist,United States of America,10014
11741,164905,Shooting Permit,2014-06-11 04:00:00,2014-06-11 22:00:00,2014-06-09 15:32:49,"Mayor's Office of Film, Theatre & Broadcasting",CHARLES STREET between WASHINGTON STREET and W...,Manhattan,"2, 3","6, 9",Music Video,Independent Artist,United States of America,"10009, 10014"
16408,124768,Shooting Permit,2013-10-09 06:00:00,2013-10-09 19:00:00,2013-10-04 14:28:18,"Mayor's Office of Film, Theatre & Broadcasting",MONTROSE AVENUE between MANHATTAN AVENUE and G...,Brooklyn,1,90,Music Video,Independent Artist,United States of America,11206
16779,85561,Shooting Permit,2013-02-02 06:00:00,2013-02-02 22:00:00,2013-02-01 10:39:36,"Mayor's Office of Film, Theatre & Broadcasting",MADISON AVENUE between EAST 23 STREET and EA...,Manhattan,"1, 5","13, 90",Music Video,Independent Artist,United States of America,"10010, 11249"
17114,174919,Shooting Permit,2014-08-05 06:00:00,2014-08-05 20:30:00,2014-08-01 16:47:35,"Mayor's Office of Film, Theatre & Broadcasting",ORCHARD STREET between STANTON STREET and DELA...,Manhattan,3,7,Music Video,Independent Artist,United States of America,10002
20141,88260,Shooting Permit,2013-02-28 09:00:00,2013-02-28 21:30:00,2013-02-26 15:21:09,"Mayor's Office of Film, Theatre & Broadcasting",LAFAYETTE STREET between WHITE STREET and WALK...,Manhattan,1,5,Music Video,Independent Artist,United States of America,10013
21412,127708,Shooting Permit,2013-11-11 07:00:00,2013-11-11 22:00:00,2013-10-31 15:47:20,"Mayor's Office of Film, Theatre & Broadcasting",BROAD STREET between EXCHANGE PLACE and BEAVER...,Manhattan,1,1,Music Video,Independent Artist,United States of America,10004
22600,510940,Shooting Permit,2019-10-05 07:00:00,2019-10-05 19:00:00,2019-10-02 14:40:30,"Mayor's Office of Film, Theatre & Broadcasting",COLUMBIA STREET between HALLECK STREET and SIG...,Brooklyn,6,76,Music Video,Independent Artist,United States of America,11231
24628,79063,Shooting Permit,2012-12-03 16:00:00,2012-12-04 02:00:00,2012-11-28 16:04:55,"Mayor's Office of Film, Theatre & Broadcasting",REVIEW AVENUE between 37 STREET and LAUREL HIL...,Queens,2,108,Music Video,Independent Artist,United States of America,11101
24657,154883,Shooting Permit,2014-04-28 11:30:00,2014-04-28 17:30:00,2014-04-24 12:29:25,"Mayor's Office of Film, Theatre & Broadcasting",MADISON AVENUE between EAST 23 STREET and EA...,Manhattan,5,13,Music Video,Independent Artist,United States of America,10010
27593,116100,Shooting Permit,2013-08-06 07:00:00,2013-08-06 18:00:00,2013-08-02 12:23:07,"Mayor's Office of Film, Theatre & Broadcasting",WEST 84 STREET between WEST END AVENUE and R...,Manhattan,"64, 7","20, 22",Music Video,Independent Artist,United States of America,"10023, 10024, 10025"
29853,48335,Shooting Permit,2012-03-06 07:00:00,2012-03-06 21:00:00,2012-03-02 21:38:16,"Mayor's Office of Film, Theatre & Broadcasting",MESEROLE STREET between BUSHWICK AVENUE and WA...,Brooklyn,1,90,Music Video,Independent Artist,United States of America,11206
33308,62364,Shooting Permit,2012-06-19 00:00:00,2012-06-19 05:00:00,2012-06-14 15:10:53,"Mayor's Office of Film, Theatre & Broadcasting",WEST 21 STREET between 11 AVENUE and 10 AVENUE,Manhattan,4,10,Music Video,Independent Artist,United States of America,10011
34863,112135,Shooting Permit,2013-07-13 16:00:00,2013-07-15 08:00:00,2013-07-09 15:45:21,"Mayor's Office of Film, Theatre & Broadcasting",BOND STREET between 3 STREET and 4 STREET,Brooklyn,6,76,Music Video,Independent Artist,United States of America,11231
35517,85408,Shooting Permit,2013-02-01 06:00:00,2013-02-01 21:00:00,2013-01-31 12:20:50,"Mayor's Office of Film, Theatre & Broadcasting",NORTH 7 STREET between BERRY STREET and WYT...,Brooklyn,1,94,Music Video,Independent Artist,United States of America,"11211, 11249"
35957,102672,Shooting Permit,2013-05-26 08:00:00,2013-05-26 14:00:00,2013-05-17 09:16:44,"Mayor's Office of Film, Theatre & Broadcasting",NORTH 15 STREET between WYTHE AVENUE and FRA...,Brooklyn,1,94,Music Video,Independent Artist,United States of America,11222
37132,60898,Shooting Permit,2012-06-09 07:00:00,2012-06-09 12:00:00,2012-06-04 17:03:39,"Mayor's Office of Film, Theatre & Broadcasting",JAVA STREET between WEST STREET and DEAD END,Brooklyn,1,94,Music Video,Independent Artist,United States of America,11222
42396,112546,Shooting Permit,2013-07-14 18:00:00,2013-07-15 08:00:00,2013-07-11 12:58:46,"Mayor's Office of Film, Theatre & Broadcasting",READE STREET between CHURCH STREET and WEST BR...,Manhattan,1,1,Music Video,Independent Artist,United States of America,10013
45195,365835,Shooting Permit,2017-07-20 08:00:00,2017-07-20 19:00:00,2017-07-19 15:01:38,"Mayor's Office of Film, Theatre & Broadcasting",45 DRIVE between CLEARVIEW EXPRESSWAY and 202 ...,Queens,"11, 7","109, 111",Music Video,Independent Artist,United States of America,"11361, 11365"
45961,322946,Shooting Permit,2016-12-17 08:00:00,2016-12-17 17:00:00,2016-12-06 16:22:24,"Mayor's Office of Film, Theatre & Broadcasting",MONITOR STREET between DRIGGS AVENUE and ENGER...,Brooklyn,1,94,Music Video,Independent Artist,United States of America,11222
46116,354278,Shooting Permit,2017-05-28 08:00:00,2017-05-28 23:00:00,2017-05-25 13:43:58,"Mayor's Office of Film, Theatre & Broadcasting",HAVEMEYER STREET between METROPOLITAN AVENUE a...,Brooklyn,1,90,Music Video,Independent Artist,United States of America,"11211, 11249"
50600,532810,Shooting Permit,2020-02-16 20:00:00,2020-02-17 06:00:00,2020-02-13 16:00:21,"Mayor's Office of Film, Theatre & Broadcasting",AVENUE B between EAST 10 STREET and EAST 1...,Manhattan,3,9,Music Video,Independent Artist,United States of America,10009
50719,437352,Shooting Permit,2018-08-24 05:00:00,2018-08-24 10:30:00,2018-08-16 14:36:45,"Mayor's Office of Film, Theatre & Broadcasting",BROADWAY between MORRIS STREET and BATTERY PLACE,Manhattan,1,1,Music Video,Independent Artist,United States of America,10004
51814,396177,Shooting Permit,2018-02-06 06:00:00,2018-02-06 20:00:00,2018-02-02 16:08:34,"Mayor's Office of Film, Theatre & Broadcasting",EAST 90 STREET between 3 AVENUE and 2 AVENUE,Manhattan,8,19,Music Video,Independent Artist,United States of America,10128
54868,444385,Shooting Permit,2018-10-04 21:00:00,2018-10-05 01:00:00,2018-10-02 15:26:21,"Mayor's Office of Film, Theatre & Broadcasting",IRVING PLACE between EAST 14 STREET and EAST...,Manhattan,"5, 6",13,Music Video,Independent Artist,United States of America,10003
58915,267281,Shooting Permit,2016-02-13 12:00:00,2016-02-13 23:45:00,2016-02-09 20:53:42,"Mayor's Office of Film, Theatre & Broadcasting",LOMBARDY STREET between STEWART AVENUE and VAR...,Brooklyn,1,94,Music Video,Independent Artist,United States of America,11222
59322,366066,Shooting Permit,2017-07-21 07:00:00,2017-07-21 18:00:00,2017-07-20 14:16:22,"Mayor's Office of Film, Theatre & Broadcasting",45 DRIVE between CLEARVIEW EXPRESSWAY and 204 ...,Manhattan,"11, 4","10, 111",Music Video,Independent Artist,United States of America,"10001, 11361"
62334,499091,Shooting Permit,2019-07-27 08:00:00,2019-07-27 14:00:00,2019-07-19 15:01:23,"Mayor's Office of Film, Theatre & Broadcasting",BERRY STREET between NORTH 13 STREET and NOR...,Brooklyn,1,94,Music Video,Independent Artist,United States of America,11249
63167,512826,Shooting Permit,2019-10-22 10:00:00,2019-10-23 02:00:00,2019-10-18 17:42:27,"Mayor's Office of Film, Theatre & Broadcasting",UNION STREET between 7 AVENUE and 8 AVENUE,Brooklyn,6,78,Music Video,Independent Artist,United States of America,11215
63524,512953,Shooting Permit,2019-10-23 13:00:00,2019-10-24 01:00:00,2019-10-21 15:58:12,"Mayor's Office of Film, Theatre & Broadcasting",HORATIO STREET between WEST STREET and WASHING...,Manhattan,2,"1, 6",Music Video,Independent Artist,United States of America,"10013, 10014"
63748,513068,Shooting Permit,2019-10-24 16:00:00,2019-10-25 01:30:00,2019-10-22 12:58:18,"Mayor's Office of Film, Theatre & Broadcasting","S 3RD ST between KENT AVE and WYTHE STREET, S...",Brooklyn,1,90,Music Video,Independent Artist,United States of America,"11211, 11249"

## Sorting

Strangely, this dataset isn't actually sorted by date, but we can do that using ``sort_values``. We tell **Pandas** which column we want to sort by, and this must be either a number, or an **ordinal** value (such as a date). We also say which direction we want to sort the results in, and this is useful if we want to get the top or bottom slice

**Most recent 20**

``df.sort_values(by='StartDateTime', ascending=False)[:20]``

**Earliest 20**

``df.sort_values(by='StartDateTime', ascending=True)[:20]``

In [142]:
df.sort_values(by='StartDateTime', ascending=True)[:20]

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
6313,43257,Theater Load in and Load Outs,2012-01-01 06:00:00,2012-01-31 20:00:00,2011-12-29 11:40:41,"Mayor's Office of Film, Theatre & Broadcasting",WEST 48 STREET between 6 AVENUE and 7 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10036
23616,43053,Shooting Permit,2012-01-02 00:01:00,2012-01-02 23:59:00,2011-12-21 12:13:45,"Mayor's Office of Film, Theatre & Broadcasting",WEST 33 STREET between 6 AVENUE and 8 AVENUE...,Manhattan,"4, 5",14,Theater,Theater,United States of America,"10001, 10121"
27209,43264,Theater Load in and Load Outs,2012-01-02 06:00:00,2012-01-03 18:00:00,2011-12-29 14:40:59,"Mayor's Office of Film, Theatre & Broadcasting",ASHLAND PLACE between DEKALB AVENUE and FULTON...,Brooklyn,2,88,Theater,Theater,United States of America,11217
8402,42926,Theater Load in and Load Outs,2012-01-02 06:00:00,2012-01-31 23:00:00,2011-12-19 14:05:39,"Mayor's Office of Film, Theatre & Broadcasting",WEST 46 STREET between 7 AVENUE and 6 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10036
10934,42737,Theater Load in and Load Outs,2012-01-02 06:00:00,2012-01-18 20:00:00,2011-12-15 14:06:52,"Mayor's Office of Film, Theatre & Broadcasting",WEST 46 STREET between 7 AVENUE and 8 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10036
14509,42069,Theater Load in and Load Outs,2012-01-02 07:00:00,2012-01-27 22:00:00,2011-12-07 16:38:54,"Mayor's Office of Film, Theatre & Broadcasting",WEST 44 STREET between 7 AVENUE and 8 AVENUE,Manhattan,5,14,Theater,Theater,United States of America,10036
3483,43070,Shooting Permit,2012-01-02 07:00:00,2012-01-06 23:00:00,2011-12-21 16:32:43,"Mayor's Office of Film, Theatre & Broadcasting",WEST 37 STREET between 10 AVENUE and 11 AVENUE,Manhattan,4,10,Television,Game show,United States of America,10018
19958,42780,Theater Load in and Load Outs,2012-01-02 18:00:00,2012-01-03 00:00:00,2011-12-15 17:47:56,"Mayor's Office of Film, Theatre & Broadcasting",WEST 56 STREET between 7 AVENUE and 6 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10019
10679,42781,Theater Load in and Load Outs,2012-01-03 00:00:00,2012-01-03 18:00:00,2011-12-15 17:52:18,"Mayor's Office of Film, Theatre & Broadcasting",WEST 56 STREET between 7 AVENUE and 6 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10019
12627,43081,Shooting Permit,2012-01-03 06:00:00,2012-01-03 21:00:00,2011-12-22 10:17:26,"Mayor's Office of Film, Theatre & Broadcasting",CITY ISLAND AVENUE between BEACH STREET and CR...,Bronx,"10, 12, 28","45, 47",Television,Episodic series,United States of America,"10461, 10464, 10465, 10469, 10475"
22410,43274,Shooting Permit,2012-01-03 06:00:00,2012-01-04 22:00:00,2011-12-29 15:56:11,"Mayor's Office of Film, Theatre & Broadcasting",LEXINGTON AVENUE between EAST 25 STREET and ...,Manhattan,"2, 5, 6","13, 6",Film,Short,United States of America,"10010, 10012"
13721,43180,Theater Load in and Load Outs,2012-01-03 06:00:00,2012-01-03 23:00:00,2011-12-27 14:47:13,"Mayor's Office of Film, Theatre & Broadcasting",ASHLAND PLACE between HANSON PLACE and LAFAYET...,Brooklyn,2,88,Theater,Theater,United States of America,11217
13395,42847,Shooting Permit,2012-01-03 07:00:00,2012-01-04 23:00:00,2011-12-16 19:35:40,"Mayor's Office of Film, Theatre & Broadcasting",STARR AVENUE between VAN DAM STREET and BORDEN...,Queens,2,108,Television,Episodic series,United States of America,11101
1122,42923,Shooting Permit,2012-01-03 07:00:00,2012-01-03 22:30:00,2011-12-19 13:08:58,"Mayor's Office of Film, Theatre & Broadcasting",BRIDGE STREET between STATE STREET and BROAD S...,Manhattan,1,1,Television,Episodic series,United States of America,10004
9834,42727,Shooting Permit,2012-01-03 08:00:00,2012-01-03 22:00:00,2011-12-15 13:27:48,"Mayor's Office of Film, Theatre & Broadcasting",22ND STREET between QUEENS PLAZA SOUTH and 43R...,Queens,2,108,Television,Episodic series,United States of America,11101
3554,42581,Shooting Permit,2012-01-03 10:00:00,2012-01-03 21:00:00,2011-12-14 09:56:47,"Mayor's Office of Film, Theatre & Broadcasting","46 ROAD between 5 STREET and VERNON BOULEVARD,...",Queens,2,108,Television,Episodic series,United States of America,11101
17758,43446,Theater Load in and Load Outs,2012-01-04 00:01:00,2012-01-09 07:00:00,2012-01-03 11:33:05,"Mayor's Office of Film, Theatre & Broadcasting",WEST 33 STREET between 6 AVENUE and 8 AVENUE...,Manhattan,5,14,Theater,Theater,United States of America,"10001, 10121"
6179,43290,Shooting Permit,2012-01-04 06:00:00,2012-01-04 20:00:00,2011-12-29 17:59:19,"Mayor's Office of Film, Theatre & Broadcasting",EAST 9 STREET between 1 AVENUE and AVENUE A...,Manhattan,"2, 3","6, 9",Film,Short,United States of America,"10009, 10012"
1333,43183,Theater Load in and Load Outs,2012-01-04 06:00:00,2012-01-20 23:59:00,2011-12-27 14:51:30,"Mayor's Office of Film, Theatre & Broadcasting",WEST 51ST STREET between 5 AVENUE and 6 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,"10019, 10020"
31424,43465,Shooting Permit,2012-01-04 06:00:00,2012-01-04 23:59:00,2012-01-03 14:09:33,"Mayor's Office of Film, Theatre & Broadcasting",STARR AVENUE between BORDEN AVENUE and 34 STRE...,Queens,2,108,Television,Episodic series,United States of America,11101

## New Column - Finding the Longest shoot

Now we're going to look at making new values (and columns!) from the existing data. 

``df['LengthOfShoot'] = df['EndDateTime'] - df['StartDateTime']``

Because we formatted them as dates, we can subtract them from each other to get a **time difference**. We can then sort by the new column **LengthOfShoot** to find the longest and shortest shoots.

We see the longest shoot is **360 days 00:59:00** and the shortest is **0 days 00:01:00**, possibly indicating that these are the boundaries of permits you can receive

In [143]:
#Make a new column containing the end time minus the start time
df['LengthOfShoot'] = df['EndDateTime'] - df['StartDateTime']
#Sort values and select the first 20 values
df.sort_values(by='LengthOfShoot', ascending=False)[:20]

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s),LengthOfShoot
65909,525411,Shooting Permit,2020-01-06 00:01:00,2020-12-31 01:00:00,2020-01-02 16:58:34,"Mayor's Office of Film, Theatre & Broadcasting",WEST 53 STREET between BROADWAY and 8 AVENUE...,Manhattan,5,18,Television,Talk Show,United States of America,10019,360 days 00:59:00
9759,458022,Shooting Permit,2019-01-07 00:01:00,2019-12-31 19:00:00,2019-01-02 10:12:33,"Mayor's Office of Film, Theatre & Broadcasting",WEST 53 STREET between BROADWAY and 8 AVENUE...,Manhattan,5,18,Television,Talk Show,United States of America,10019,358 days 18:59:00
25839,74427,Theater Load in and Load Outs,2012-10-28 06:00:00,2013-03-24 06:00:00,2012-10-09 12:44:44,"Mayor's Office of Film, Theatre & Broadcasting",AMSTERDAM AVENUE between WEST 73 STREET and ...,Manhattan,7,20,Theater,Theater,United States of America,10023,147 days 00:00:00
6088,72410,Shooting Permit,2012-09-18 09:00:00,2012-12-31 01:00:00,2012-09-14 18:50:15,"Mayor's Office of Film, Theatre & Broadcasting",WEST 33 STREET between 10 AVENUE and 11 AVENUE,Manhattan,4,10,Television,Talk Show,United States of America,10001,103 days 16:00:00
26202,58198,Theater Load in and Load Outs,2012-05-21 07:00:00,2012-07-31 23:59:00,2012-05-15 17:38:45,"Mayor's Office of Film, Theatre & Broadcasting",WEST 51 STREET between 5 AVENUE and 6 AVENUE...,Manhattan,5,18,Theater,Theater,United States of America,"10019, 10020",71 days 16:59:00
15761,351665,Theater Load in and Load Outs,2017-06-01 00:01:00,2017-08-08 23:59:00,2017-05-15 13:19:18,"Mayor's Office of Film, Theatre & Broadcasting",WEST 62 STREET between COLUMBUS AVENUE and A...,Manhattan,7,20,Theater,Theater,United States of America,10023,68 days 23:58:00
29017,44756,Theater Load in and Load Outs,2012-01-23 07:00:00,2012-03-30 20:00:00,2012-01-20 13:56:43,"Mayor's Office of Film, Theatre & Broadcasting",WEST 44 STREET between 7 AVENUE and 8 AVENUE,Manhattan,5,14,Theater,Theater,United States of America,10036,67 days 13:00:00
57099,418275,Theater Load in and Load Outs,2018-06-04 00:01:00,2018-08-08 23:59:00,2018-05-15 16:34:08,"Mayor's Office of Film, Theatre & Broadcasting",WEST 62 STREET between COLUMBUS AVENUE and A...,Manhattan,7,20,Theater,Theater,United States of America,10023,65 days 23:58:00
20801,64937,Theater Load in and Load Outs,2012-07-09 06:00:00,2012-09-09 22:00:00,2012-07-06 13:52:34,"Mayor's Office of Film, Theatre & Broadcasting",WEST 47 STREET between 8 AVENUE and BROADWAY,Manhattan,5,18,Theater,Theater,United States of America,10036,62 days 16:00:00
28368,44604,Theater Load in and Load Outs,2012-01-27 05:00:00,2012-03-27 22:00:00,2012-01-19 11:00:08,"Mayor's Office of Film, Theatre & Broadcasting",WEST 55 STREET between 6 AVENUE and 7 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10019,60 days 17:00:00
42547,60103,Theater Load in and Load Outs,2012-06-02 00:01:00,2012-07-31 13:00:00,2012-05-30 11:03:24,"Mayor's Office of Film, Theatre & Broadcasting",WEST 51 STREET between 5 AVENUE and 6 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,"10019, 10020",59 days 12:59:00
23921,45394,Theater Load in and Load Outs,2012-02-08 06:00:00,2012-03-24 23:59:00,2012-01-30 14:07:20,"Mayor's Office of Film, Theatre & Broadcasting",WEST 45 STREET between 7 AVENUE and 8 AVENUE,Manhattan,5,"14, 18",Theater,Theater,United States of America,10036,45 days 17:59:00
31903,48957,Theater Load in and Load Outs,2012-03-11 06:00:00,2012-04-23 22:00:00,2012-03-08 14:09:12,"Mayor's Office of Film, Theatre & Broadcasting",WEST 46 STREET between BROADWAY and 8 AVENUE,Manhattan,5,18,Theater,Theater,United States of America,10036,43 days 16:00:00
61230,262729,Theater Load in and Load Outs,2016-01-25 06:00:00,2016-03-06 23:00:00,2016-01-12 12:12:42,"Mayor's Office of Film, Theatre & Broadcasting",WEST 176 STREET between BROADWAY and WADSWORT...,Manhattan,12,33,Theater,Theater,United States of America,10033,41 days 17:00:00
39570,48591,Theater Load in and Load Outs,2012-03-06 08:00:00,2012-04-16 20:00:00,2012-03-06 10:34:00,"Mayor's Office of Film, Theatre & Broadcasting",WEST 41 STREET between 7 AVENUE and 8 AVENUE,Manhattan,5,14,Theater,Theater,United States of America,"10018, 10036",41 days 12:00:00
6402,48597,Theater Load in and Load Outs,2012-03-06 08:00:00,2012-04-16 20:00:00,2012-03-06 11:51:44,"Mayor's Office of Film, Theatre & Broadcasting",WEST 41 STREET between 7 AVENUE and 8 AVENUE,Manhattan,5,14,Theater,Theater,United States of America,10036,41 days 12:00:00
41768,80496,Shooting Permit,2012-12-16 06:00:00,2013-01-25 23:59:00,2012-12-10 10:15:11,"Mayor's Office of Film, Theatre & Broadcasting",AMSTERDAM AVENUE between WEST 62 STREET and ...,Manhattan,7,20,Television,Not Applicable,United States of America,10023,40 days 17:59:00
21330,73643,Shooting Permit,2012-10-04 06:00:00,2012-11-11 23:59:00,2012-09-28 14:30:25,"Mayor's Office of Film, Theatre & Broadcasting",AMSTERDAM AVENUE between WEST 62 STREET and ...,Manhattan,7,20,Television,Not Applicable,United States of America,10023,38 days 17:59:00
40206,75466,Shooting Permit,2012-10-19 06:00:00,2012-11-26 23:00:00,2012-10-18 15:55:23,"Mayor's Office of Film, Theatre & Broadcasting",INGRAHAM STREET between KNICKERBOCKER AVENUE a...,Brooklyn,1,90,Television,Reality,United States of America,11237,38 days 17:00:00
32046,84440,Shooting Permit,2013-02-08 06:00:00,2013-03-16 23:59:00,2013-01-22 13:20:44,"Mayor's Office of Film, Theatre & Broadcasting",AMSTERDAM AVENUE between WEST 62 STREET and ...,Manhattan,7,20,Television,Not Applicable,United States of America,10023,36 days 17:59:00

## Missing Values

**NaN** in Pandas represents a missing value, or something that it is unable to format, and are excluded by **count()**

This means we can divide the ``count()`` by the ``len`` and anything that is not 1.00 will have missing values!

We can see that "CommunityBoard(s)","ZipCode(s)","PolicePrecinct(s)" all have missing values, so we can use **isna()** to filter all the ones out to see if theres a reason why these are missing!

``df[df["CommunityBoard(s)"].isna()]``

We can look at the summary statistics to try and identify any trends 

``df[df["CommunityBoard(s)"].isna()].describe(include="all")``

And it looks like there is no trend based on date. Most are in Manhattan, although most films are in Manhattan regardless. 3 are at the same location exactly, and some look like they are for the same mini-series. 

We're still not clear why this data is missing really! If it was important, or a greater amount of data, we could investigate further with the source

In [144]:
#Divide without NaN by total length revealing which columns have missing values
df.count() / len(df)

EventID              1.000000
EventType            1.000000
StartDateTime        1.000000
EndDateTime          1.000000
EnteredOn            1.000000
EventAgency          1.000000
ParkingHeld          1.000000
Borough              1.000000
CommunityBoard(s)    0.999733
PolicePrecinct(s)    0.999733
Category             1.000000
SubCategoryName      1.000000
Country              1.000000
ZipCode(s)           0.999733
LengthOfShoot        1.000000
dtype: float64

In [145]:
#Look at rows for which CommunityBoard(s) contains NaN
df[df["CommunityBoard(s)"].isna()]

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s),LengthOfShoot
1961,447520,Shooting Permit,2018-11-01 16:00:00,2018-11-02 03:00:00,2018-10-28 16:56:02,"Mayor's Office of Film, Theatre & Broadcasting","Center Blvd between 55th Ave and 57th Ave, 57...",Queens,NaN,NaN,Still Photography,Not Applicable,United States of America,NaN,0 days 11:00:00
5458,162029,Shooting Permit,2014-05-28 07:00:00,2014-05-28 12:00:00,2014-05-27 13:22:10,"Mayor's Office of Film, Theatre & Broadcasting",West 67th Street between Columbus Ave and Cent...,Manhattan,NaN,NaN,Television,Talk Show,United States of America,NaN,0 days 05:00:00
13467,464332,Shooting Permit,2019-02-14 15:00:00,2019-02-15 05:00:00,2019-02-12 15:50:53,"Mayor's Office of Film, Theatre & Broadcasting",Greenpoint Ave between Railroad Ave and Dead E...,Queens,NaN,NaN,Television,Cable-episodic,United States of America,NaN,0 days 14:00:00
15460,128473,Shooting Permit,2013-11-11 08:00:00,2013-11-11 20:00:00,2013-11-06 10:22:50,"Mayor's Office of Film, Theatre & Broadcasting",AMSTERDAM AVENUE between WEST 62 STREET and ...,Manhattan,NaN,NaN,Television,Cable-other,United States of America,NaN,0 days 12:00:00
20015,179034,Shooting Permit,2014-08-30 12:00:00,2014-08-30 22:00:00,2014-08-28 13:49:39,"Mayor's Office of Film, Theatre & Broadcasting",Victory Boulevard between Wild Avenue and Crab...,Staten Island,NaN,NaN,Film,Feature,United States of America,NaN,0 days 10:00:00
36044,47343,Shooting Permit,2012-02-23 13:00:00,2012-02-23 17:00:00,2012-02-22 14:33:38,"Mayor's Office of Film, Theatre & Broadcasting",PEARL ST between HANOVER SQUARE and COENTIES A...,Manhattan,NaN,NaN,Television,Episodic series,United States of America,NaN,0 days 04:00:00
38043,194942,Shooting Permit,2015-01-06 16:00:00,2015-01-07 01:00:00,2014-12-18 12:23:13,"Mayor's Office of Film, Theatre & Broadcasting",Withers St between Meeker Ave and Union Ave,Brooklyn,NaN,NaN,Television,Cable-episodic,United States of America,NaN,0 days 09:00:00
44832,372043,Shooting Permit,2017-08-30 08:00:00,2017-08-30 21:00:00,2017-08-22 19:32:04,"Mayor's Office of Film, Theatre & Broadcasting",LAFAYETTE STREET between SPRING STREET and PRI...,Manhattan,NaN,NaN,Commercial,Commercial,United States of America,NaN,0 days 13:00:00
46163,372040,Shooting Permit,2017-08-28 08:00:00,2017-08-28 21:00:00,2017-08-22 19:21:21,"Mayor's Office of Film, Theatre & Broadcasting",LAFAYETTE STREET between SPRING STREET and PRI...,Manhattan,NaN,NaN,Commercial,Commercial,United States of America,NaN,0 days 13:00:00
55547,413934,Shooting Permit,2018-05-03 12:00:00,2018-05-03 22:00:00,2018-04-30 10:30:17,"Mayor's Office of Film, Theatre & Broadcasting",MANGIN STREET between DELANCY STREET and DELAN...,Manhattan,NaN,NaN,Television,Episodic series,United States of America,NaN,0 days 10:00:00
57157,295223,Shooting Permit,2016-06-22 07:00:00,2016-06-22 20:00:00,2016-06-16 22:44:45,"Mayor's Office of Film, Theatre & Broadcasting",East 21st Street between Gramercy Park West an...,Manhattan,NaN,NaN,Still Photography,Not Applicable,United States of America,NaN,0 days 13:00:00
57192,266165,Shooting Permit,2016-02-08 06:00:00,2016-02-08 22:00:00,2016-02-03 09:16:28,"Mayor's Office of Film, Theatre & Broadcasting",GREENPOINT AVENUE between RAILROAD AVENUE and ...,Queens,NaN,NaN,Television,Cable-episodic,United States of America,NaN,0 days 16:00:00
57693,372042,Shooting Permit,2017-08-29 08:00:00,2017-08-29 21:00:00,2017-08-22 19:26:46,"Mayor's Office of Film, Theatre & Broadcasting",LAFAYETTE STREET between SPRING STREET and PRI...,Manhattan,NaN,NaN,Commercial,Commercial,United States of America,NaN,0 days 13:00:00
59842,274065,Shooting Permit,2016-03-25 14:00:00,2016-03-26 04:30:00,2016-03-17 12:39:00,"Mayor's Office of Film, Theatre & Broadcasting",GREENPOINT AVENUE between RAILROAD AVENUE and ...,Queens,NaN,NaN,Television,Cable-episodic,United States of America,NaN,0 days 14:30:00
67188,548241,Rigging Permit,2020-10-07 07:00:00,2020-10-07 20:00:00,2020-10-05 12:09:45,"Mayor's Office of Film, Theatre & Broadcasting",14th Street between 9 AVENUE and 10 Avenue,Manhattan,NaN,NaN,Television,Made for TV/mini-series,United States of America,NaN,0 days 13:00:00
67206,548255,Rigging Permit,2020-10-08 07:00:00,2020-10-08 20:00:00,2020-10-05 13:38:35,"Mayor's Office of Film, Theatre & Broadcasting",14th Street between 9 Avenue and 10 Avenue,Manhattan,NaN,NaN,Television,Made for TV/mini-series,United States of America,NaN,0 days 13:00:00
67231,548400,Rigging Permit,2020-10-11 07:00:00,2020-10-11 20:00:00,2020-10-07 09:29:22,"Mayor's Office of Film, Theatre & Broadcasting",14 Street between 9 Avenue and 10 Avenue,Manhattan,NaN,NaN,Television,Made for TV/mini-series,United States of America,NaN,0 days 13:00:00
67313,548905,Rigging Permit,2020-10-16 07:00:00,2020-10-16 20:00:00,2020-10-14 15:33:36,"Mayor's Office of Film, Theatre & Broadcasting",W 14 Street between 9 Avenue and 10 Avenue,Manhattan,NaN,NaN,Television,Made for TV/mini-series,United States of America,NaN,0 days 13:00:00

In [146]:
#Look at the summary of rows for which CommunityBoard(s) contains NaN
df[df["CommunityBoard(s)"].isna()].describe(include="all")

/var/folders/4l/xm5jn32j517d842_nfd4nvymkgphp6/T/ipykernel_59212/1115241883.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df[df["CommunityBoard(s)"].isna()].describe(include="all")

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s),LengthOfShoot
count,18.000000,18,18,18,18,18,18,18,0,0,18,18,18,0,18
unique,NaN,2,18,18,18,1,15,4,0,0,4,8,1,0,NaN
top,NaN,Shooting Permit,2018-11-01 16:00:00,2018-11-02 03:00:00,2018-10-28 16:56:02,"Mayor's Office of Film, Theatre & Broadcasting",LAFAYETTE STREET between SPRING STREET and PRI...,Manhattan,NaN,NaN,Television,Cable-episodic,United States of America,NaN,NaN
freq,NaN,14,1,1,1,18,3,12,NaN,NaN,12,4,18,NaN,NaN
first,NaN,NaN,2012-02-23 13:00:00,2012-02-23 17:00:00,2012-02-22 14:33:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-10-16 07:00:00,2020-10-16 20:00:00,2020-10-14 15:33:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,343499.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 11:38:20
std,159036.161302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 03:05:44.030319624
min,47343.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 04:00:00
25%,212747.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 10:15:00
50%,372041.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 13:00:00
75%,460129.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 13:00:00
max,548905.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 16:00:00

### Fixing missing values

We can use the **fillna()** function to replace missing values with a string. 

``df[["CommunityBoard(s)","ZipCode(s)","PolicePrecinct(s)"]].fillna("unknown")``

In [147]:
#Replace missing values with string ("unknown")
df[["CommunityBoard(s)","ZipCode(s)","PolicePrecinct(s)"]].fillna("unknown")

      CommunityBoard(s)           ZipCode(s) PolicePrecinct(s)
0                     2                10012                 1
1                 12, 8         10034, 10463            34, 50
2                  2, 5                11378          104, 108
3                     2                11201                84
4                  4, 5         10001, 10121                14
...                 ...                  ...               ...
67354                 2                11101               108
67355                 5                10017            14, 18
67356           1, 2, 7  10454, 10474, 11220        40, 41, 72
67357                 2                11101               108
67358              4, 5         11237, 11385           104, 83

[67359 rows x 3 columns]

## Selection Bias

Thinking about interesting machine learning models we could build from this, the first think I thought of was something that could predict whether a permit would be granted or not. However, this is something that we can't model from this dataset as it **only shows granted permits**. 

This is an example of **selection bias** in a dataset and is something we want to be careful of. If we are trying to model something and the dataset doesnt include all occurrences, it will be biased towards the things that got recorded, or selected to be in the dataset.

## Cooked data - Whats missing?


We actually dont have data for who the permit was granted to, or how much they paid for it. Which I think would be interesting!!!



# Task 1 : Import a JSON file instead of a CSV using Pandas

You maye use the json data being provided by the exchange rate api.
- https://api.exchangerate-api.com/v4/latest/USD

Before importing the data visit the above link to see the json format in it's raw format and later compare it to what it looks like in a pandas dataframe.

## Dictionaries

- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

- More on https://www.w3schools.com/python/python_dictionaries.asp

In [162]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [163]:
# Print the "brand" value of the dictionary:
print(thisdict["brand"])

Ford




# Requesting Data from an API

- API is the acronym for Application Programming Interface, which is a software intermediary that allows two applications to talk to each other. Each time you use an app like Facebook, send an instant message, or check the weather on your phone, youâ€™re using an API.


- Coronavirus Covid-19 API - DOCUMENTATION
https://documenter.getpostman.com/view/10808728/SzS8rjbc

Requests is an elegant and simple HTTP library for Python. It â€œis an application-layer protocol for transmitting hypermedia documents, such as HTML. It was designed for communication between web browsers and web serversâ€
So, requests is a package that is going to help us communicate between our browser and a web server somewhere that is storing data we are interested in.

In [148]:
import requests

In [149]:
url = 'https://api.covid19api.com/summary'

In [150]:
# Using the requests package to make a GET request from this API endpoint.
r = requests.get(url)

What does <Response [200]> mean? That the request has succeeded.

In [151]:
r

We will now use a method called json() to extract the json-structured data from the request 'r'

In [152]:
json = r.json()

In [153]:
# .keys() is a method of returning keys of a dictionary 
# More on https://www.w3schools.com/python/ref_dictionary_keys.asp

json.keys()

dict_keys(['ID', 'Message', 'Global', 'Countries', 'Date'])

In [154]:
json['Global']

{'NewConfirmed': 247389,
 'TotalConfirmed': 530357202,
 'NewDeaths': 617,
 'TotalDeaths': 6293184,
 'NewRecovered': 0,
 'TotalRecovered': 0,
 'Date': '2022-06-06T00:52:54.553Z'}

In [155]:
json['Countries']

[{'ID': '2dc7249a-503a-47ca-9901-09799587a982',
  'Country': 'Afghanistan',
  'CountryCode': 'AF',
  'Slug': 'afghanistan',
  'NewConfirmed': 31,
  'TotalConfirmed': 180615,
  'NewDeaths': 0,
  'TotalDeaths': 7708,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '3b4e7a32-560e-4f75-a665-a9b90f8b938f',
  'Country': 'Albania',
  'CountryCode': 'AL',
  'Slug': 'albania',
  'NewConfirmed': 32,
  'TotalConfirmed': 276342,
  'NewDeaths': 0,
  'TotalDeaths': 3497,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '6254e385-f97d-4574-ba0c-04dc9ef9cc21',
  'Country': 'Algeria',
  'CountryCode': 'DZ',
  'Slug': 'algeria',
  'NewConfirmed': 0,
  'TotalConfirmed': 265889,
  'NewDeaths': 0,
  'TotalDeaths': 6875,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'ff4fc1d2-280d-40da-a784-62e4fc3ad00c',
  'Country': 'Andorra',
  'CountryCode': 'AD',
  'Slug': 'andorra',
  'NewConfirmed': 0,
  'TotalConfirmed': 43067,
  'NewDeaths': 0,
  'TotalDeaths': 153,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '909d6a0b-00b3-4880-ab89-7a6cea152a13',
  'Country': 'Angola',
  'CountryCode': 'AO',
  'Slug': 'angola',
  'NewConfirmed': 0,
  'TotalConfirmed': 99761,
  'NewDeaths': 0,
  'TotalDeaths': 1900,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '8b5145ce-694a-485e-8832-ea0bf268f229',
  'Country': 'Antarctica',
  'CountryCode': 'AQ',
  'Slug': 'antarctica',
  'NewConfirmed': 0,
  'TotalConfirmed': 11,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '8bae79ec-d86b-45c7-b71d-baa16e3bb035',
  'Country': 'Antigua and Barbuda',
  'CountryCode': 'AG',
  'Slug': 'antigua-and-barbuda',
  'NewConfirmed': 83,
  'TotalConfirmed': 8378,
  'NewDeaths': 0,
  'TotalDeaths': 138,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'f652f3ee-3200-4bdc-ae91-700815ac12bf',
  'Country': 'Argentina',
  'CountryCode': 'AR',
  'Slug': 'argentina',
  'NewConfirmed': 0,
  'TotalConfirmed': 9230573,
  'NewDeaths': 0,
  'TotalDeaths': 128889,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '4c7af3c0-e266-429b-b1b4-bac0e62023bf',
  'Country': 'Armenia',
  'CountryCode': 'AM',
  'Slug': 'armenia',
  'NewConfirmed': 0,
  'TotalConfirmed': 422963,
  'NewDeaths': 0,
  'TotalDeaths': 8625,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'cc97f1e9-0262-4780-b9ab-0761dc96c509',
  'Country': 'Australia',
  'CountryCode': 'AU',
  'Slug': 'australia',
  'NewConfirmed': 20127,
  'TotalConfirmed': 7425669,
  'NewDeaths': 27,
  'TotalDeaths': 8749,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '141ca7c3-be16-4960-a53c-cffd4c214ed1',
  'Country': 'Austria',
  'CountryCode': 'AT',
  'Slug': 'austria',
  'NewConfirmed': 0,
  'TotalConfirmed': 4295818,
  'NewDeaths': 0,
  'TotalDeaths': 19938,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '7ae7ba8b-7026-403d-82a5-067c805c1f98',
  'Country': 'Azerbaijan',
  'CountryCode': 'AZ',
  'Slug': 'azerbaijan',
  'NewConfirmed': 0,
  'TotalConfirmed': 792785,
  'NewDeaths': 0,
  'TotalDeaths': 9713,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'a2263b17-3555-47fc-be08-f4c3c56724bf',
  'Country': 'Bahamas',
  'CountryCode': 'BS',
  'Slug': 'bahamas',
  'NewConfirmed': 51,
  'TotalConfirmed': 34982,
  'NewDeaths': 0,
  'TotalDeaths': 810,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '1f4eaa33-8911-4aa2-b25a-9582e7c17f72',
  'Country': 'Bahrain',
  'CountryCode': 'BH',
  'Slug': 'bahrain',
  'NewConfirmed': 614,
  'TotalConfirmed': 588070,
  'NewDeaths': 0,
  'TotalDeaths': 1488,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'b4fb7a15-76bd-4fd2-983e-2d68ab92d791',
  'Country': 'Bangladesh',
  'CountryCode': 'BD',
  'Slug': 'bangladesh',
  'NewConfirmed': 31,
  'TotalConfirmed': 1953623,
  'NewDeaths': 0,
  'TotalDeaths': 29131,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'acbea052-8154-4de2-8d61-b19eb41c15a8',
  'Country': 'Barbados',
  'CountryCode': 'BB',
  'Slug': 'barbados',
  'NewConfirmed': 145,
  'TotalConfirmed': 81319,
  'NewDeaths': 0,
  'TotalDeaths': 462,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '2bc0a8bc-8fb7-4cb1-ad79-87c30c624d36',
  'Country': 'Belarus',
  'CountryCode': 'BY',
  'Slug': 'belarus',
  'NewConfirmed': 0,
  'TotalConfirmed': 982867,
  'NewDeaths': 0,
  'TotalDeaths': 6978,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'd3d76f21-13f4-45e4-8e7c-14f5c85bb133',
  'Country': 'Belgium',
  'CountryCode': 'BE',
  'Slug': 'belgium',
  'NewConfirmed': 0,
  'TotalConfirmed': 4158754,
  'NewDeaths': 0,
  'TotalDeaths': 31768,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'f67e4623-d631-4807-b226-b8ca575bccd2',
  'Country': 'Belize',
  'CountryCode': 'BZ',
  'Slug': 'belize',
  'NewConfirmed': 0,
  'TotalConfirmed': 59788,
  'NewDeaths': 0,
  'TotalDeaths': 678,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '33395fcb-3fc0-472a-be92-6847f3f2b026',
  'Country': 'Benin',
  'CountryCode': 'BJ',
  'Slug': 'benin',
  'NewConfirmed': 0,
  'TotalConfirmed': 26952,
  'NewDeaths': 0,
  'TotalDeaths': 163,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'a36a2f38-29a7-4319-bfea-0e29106720bf',
  'Country': 'Bhutan',
  'CountryCode': 'BT',
  'Slug': 'bhutan',
  'NewConfirmed': 0,
  'TotalConfirmed': 59628,
  'NewDeaths': 0,
  'TotalDeaths': 21,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'd4cca676-870a-4ab1-a03e-a963fa5fa13b',
  'Country': 'Bolivia',
  'CountryCode': 'BO',
  'Slug': 'bolivia',
  'NewConfirmed': 0,
  'TotalConfirmed': 909919,
  'NewDeaths': 0,
  'TotalDeaths': 21948,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '6d022a16-5655-44a5-bd14-7d4b28133405',
  'Country': 'Bosnia and Herzegovina',
  'CountryCode': 'BA',
  'Slug': 'bosnia-and-herzegovina',
  'NewConfirmed': 0,
  'TotalConfirmed': 377962,
  'NewDeaths': 0,
  'TotalDeaths': 15788,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '4140316a-cf15-473f-9713-a583432c2233',
  'Country': 'Botswana',
  'CountryCode': 'BW',
  'Slug': 'botswana',
  'NewConfirmed': 0,
  'TotalConfirmed': 308126,
  'NewDeaths': 0,
  'TotalDeaths': 2697,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '8064760c-3fbb-4a15-928e-94014321bb1c',
  'Country': 'Brazil',
  'CountryCode': 'BR',
  'Slug': 'brazil',
  'NewConfirmed': 0,
  'TotalConfirmed': 31137479,
  'NewDeaths': 0,
  'TotalDeaths': 666971,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'cac4d927-c271-495d-b884-1b69db131a59',
  'Country': 'Brunei Darussalam',
  'CountryCode': 'BN',
  'Slug': 'brunei',
  'NewConfirmed': 379,
  'TotalConfirmed': 150058,
  'NewDeaths': 0,
  'TotalDeaths': 223,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '9374f962-5b11-4de0-a0a7-5f5bfbf60e45',
  'Country': 'Bulgaria',
  'CountryCode': 'BG',
  'Slug': 'bulgaria',
  'NewConfirmed': 80,
  'TotalConfirmed': 1165807,
  'NewDeaths': 0,
  'TotalDeaths': 37163,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'aed5fd7e-3f45-4ff8-a5e8-5bcb18da3aa6',
  'Country': 'Burkina Faso',
  'CountryCode': 'BF',
  'Slug': 'burkina-faso',
  'NewConfirmed': 0,
  'TotalConfirmed': 20899,
  'NewDeaths': 0,
  'TotalDeaths': 384,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '120d7888-4be4-413e-a510-d8858773571a',
  'Country': 'Burundi',
  'CountryCode': 'BI',
  'Slug': 'burundi',
  'NewConfirmed': 0,
  'TotalConfirmed': 42129,
  'NewDeaths': 0,
  'TotalDeaths': 38,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '2811bb84-d4b9-43f8-bb95-bfb2cc649590',
  'Country': 'Cambodia',
  'CountryCode': 'KH',
  'Slug': 'cambodia',
  'NewConfirmed': 0,
  'TotalConfirmed': 136262,
  'NewDeaths': 0,
  'TotalDeaths': 3056,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'a0f07f12-bd0a-48a0-937a-b1317ff97884',
  'Country': 'Cameroon',
  'CountryCode': 'CM',
  'Slug': 'cameroon',
  'NewConfirmed': 0,
  'TotalConfirmed': 119947,
  'NewDeaths': 0,
  'TotalDeaths': 1930,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '3c016121-ce0a-4654-bba0-c0ac73d0c7d5',
  'Country': 'Canada',
  'CountryCode': 'CA',
  'Slug': 'canada',
  'NewConfirmed': 1639,
  'TotalConfirmed': 3314392,
  'NewDeaths': 25,
  'TotalDeaths': 36795,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'fbd1576f-0ba0-4ed7-b314-9f6c123d0781',
  'Country': 'Cape Verde',
  'CountryCode': 'CV',
  'Slug': 'cape-verde',
  'NewConfirmed': 57,
  'TotalConfirmed': 56532,
  'NewDeaths': 0,
  'TotalDeaths': 402,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '9cc22986-2e46-400e-9523-cd584311b1e7',
  'Country': 'Central African Republic',
  'CountryCode': 'CF',
  'Slug': 'central-african-republic',
  'NewConfirmed': 0,
  'TotalConfirmed': 14649,
  'NewDeaths': 0,
  'TotalDeaths': 113,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'ab51f43f-c5bf-4571-afc1-0add13d6dc3a',
  'Country': 'Chad',
  'CountryCode': 'TD',
  'Slug': 'chad',
  'NewConfirmed': 0,
  'TotalConfirmed': 7417,
  'NewDeaths': 0,
  'TotalDeaths': 193,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'c54c4861-fabf-4f3e-905e-ed23e6f37d9e',
  'Country': 'Chile',
  'CountryCode': 'CL',
  'Slug': 'chile',
  'NewConfirmed': 9890,
  'TotalConfirmed': 3739796,
  'NewDeaths': 23,
  'TotalDeaths': 57955,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '46b2273e-d6df-4fc6-9bc9-156cf1e76232',
  'Country': 'China',
  'CountryCode': 'CN',
  'Slug': 'china',
  'NewConfirmed': 446,
  'TotalConfirmed': 1438975,
  'NewDeaths': 0,
  'TotalDeaths': 14608,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'eafaca27-13a5-4078-840f-d3dcdc0bf78c',
  'Country': 'Colombia',
  'CountryCode': 'CO',
  'Slug': 'colombia',
  'NewConfirmed': 0,
  'TotalConfirmed': 6109105,
  'NewDeaths': 0,
  'TotalDeaths': 139867,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'b9e0a303-3042-4d42-80a5-cb4965dd4f86',
  'Country': 'Comoros',
  'CountryCode': 'KM',
  'Slug': 'comoros',
  'NewConfirmed': 0,
  'TotalConfirmed': 8126,
  'NewDeaths': 0,
  'TotalDeaths': 160,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '7c84c7ff-0cac-4bf2-8b2c-f183b52b992c',
  'Country': 'Congo (Brazzaville)',
  'CountryCode': 'CG',
  'Slug': 'congo-brazzaville',
  'NewConfirmed': 0,
  'TotalConfirmed': 24128,
  'NewDeaths': 0,
  'TotalDeaths': 385,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '56207ef5-c4a6-4a71-9a2c-5d7e24541ba4',
  'Country': 'Congo (Kinshasa)',
  'CountryCode': 'CD',
  'Slug': 'congo-kinshasa',
  'NewConfirmed': 0,
  'TotalConfirmed': 89189,
  'NewDeaths': 0,
  'TotalDeaths': 1338,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '5477d805-ec8a-472b-8c75-d28b894e14db',
  'Country': 'Costa Rica',
  'CountryCode': 'CR',
  'Slug': 'costa-rica',
  'NewConfirmed': 0,
  'TotalConfirmed': 904934,
  'NewDeaths': 0,
  'TotalDeaths': 8525,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '41a92eb2-4ab5-4969-b88f-83ea12d3a23e',
  'Country': 'Croatia',
  'CountryCode': 'HR',
  'Slug': 'croatia',
  'NewConfirmed': 267,
  'TotalConfirmed': 1137864,
  'NewDeaths': 0,
  'TotalDeaths': 15998,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'f03a4b55-e5d5-48a6-9a9f-05832185171e',
  'Country': 'Cuba',
  'CountryCode': 'CU',
  'Slug': 'cuba',
  'NewConfirmed': 24,
  'TotalConfirmed': 1105443,
  'NewDeaths': 0,
  'TotalDeaths': 8529,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '4093010c-81dd-40cb-a2d7-7cbbb128432f',
  'Country': 'Cyprus',
  'CountryCode': 'CY',
  'Slug': 'cyprus',
  'NewConfirmed': 0,
  'TotalConfirmed': 491777,
  'NewDeaths': 0,
  'TotalDeaths': 1067,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '1bf9eadb-47b9-49df-ab6c-62b0fe3ceda3',
  'Country': 'Czech Republic',
  'CountryCode': 'CZ',
  'Slug': 'czech-republic',
  'NewConfirmed': 81,
  'TotalConfirmed': 3921096,
  'NewDeaths': 1,
  'TotalDeaths': 40291,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '9a42f9f1-b85a-4d83-be92-baaf053a6e97',
  'Country': "CÃ´te d'Ivoire",
  'CountryCode': 'CI',
  'Slug': 'cote-divoire',
  'NewConfirmed': 38,
  'TotalConfirmed': 82280,
  'NewDeaths': 0,
  'TotalDeaths': 799,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'cb432c97-9922-464e-9c75-610d851729d6',
  'Country': 'Denmark',
  'CountryCode': 'DK',
  'Slug': 'denmark',
  'NewConfirmed': 0,
  'TotalConfirmed': 3185307,
  'NewDeaths': 0,
  'TotalDeaths': 6425,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '2828c189-3711-40c5-adf6-e6505cd49def',
  'Country': 'Djibouti',
  'CountryCode': 'DJ',
  'Slug': 'djibouti',
  'NewConfirmed': 0,
  'TotalConfirmed': 15675,
  'NewDeaths': 0,
  'TotalDeaths': 189,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'e0ee3d5b-90a0-4ab1-9ac4-31861eb603c5',
  'Country': 'Dominica',
  'CountryCode': 'DM',
  'Slug': 'dominica',
  'NewConfirmed': 0,
  'TotalConfirmed': 14295,
  'NewDeaths': 0,
  'TotalDeaths': 67,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'd4fafc62-aa23-418e-9d22-c180bfaacd0a',
  'Country': 'Dominican Republic',
  'CountryCode': 'DO',
  'Slug': 'dominican-republic',
  'NewConfirmed': 532,
  'TotalConfirmed': 586099,
  'NewDeaths': 0,
  'TotalDeaths': 4377,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '00b2bb07-c201-4165-8b2c-21a59f3bd2c6',
  'Country': 'Ecuador',
  'CountryCode': 'EC',
  'Slug': 'ecuador',
  'NewConfirmed': 0,
  'TotalConfirmed': 878196,
  'NewDeaths': 0,
  'TotalDeaths': 35645,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '5e9d3d6f-09a9-434c-8029-86355a296496',
  'Country': 'Egypt',
  'CountryCode': 'EG',
  'Slug': 'egypt',
  'NewConfirmed': 0,
  'TotalConfirmed': 515645,
  'NewDeaths': 0,
  'TotalDeaths': 24718,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '64a03aea-a24e-4264-83a2-1fba9252abe1',
  'Country': 'El Salvador',
  'CountryCode': 'SV',
  'Slug': 'el-salvador',
  'NewConfirmed': 0,
  'TotalConfirmed': 162755,
  'NewDeaths': 0,
  'TotalDeaths': 4132,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '274ac700-939d-438a-86fa-7e710c77b0be',
  'Country': 'Equatorial Guinea',
  'CountryCode': 'GQ',
  'Slug': 'equatorial-guinea',
  'NewConfirmed': 1,
  'TotalConfirmed': 15924,
  'NewDeaths': 0,
  'TotalDeaths': 183,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'd613ff02-27e3-4576-a15f-2bb16b5a1ee1',
  'Country': 'Eritrea',
  'CountryCode': 'ER',
  'Slug': 'eritrea',
  'NewConfirmed': 0,
  'TotalConfirmed': 9767,
  'NewDeaths': 0,
  'TotalDeaths': 103,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '7bdb0d17-2086-4a7a-adea-cb58e2fcf951',
  'Country': 'Estonia',
  'CountryCode': 'EE',
  'Slug': 'estonia',
  'NewConfirmed': 0,
  'TotalConfirmed': 576870,
  'NewDeaths': 0,
  'TotalDeaths': 2574,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'accef1f0-7eba-459e-aec0-c0e39a72cd56',
  'Country': 'Ethiopia',
  'CountryCode': 'ET',
  'Slug': 'ethiopia',
  'NewConfirmed': 736,
  'TotalConfirmed': 474715,
  'NewDeaths': 1,
  'TotalDeaths': 7515,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '5334ff6c-30b4-4212-917f-e793b37b6c58',
  'Country': 'Fiji',
  'CountryCode': 'FJ',
  'Slug': 'fiji',
  'NewConfirmed': 0,
  'TotalConfirmed': 65063,
  'NewDeaths': 0,
  'TotalDeaths': 864,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '5559ec0d-9066-4c8a-b01d-b903f4299bda',
  'Country': 'Finland',
  'CountryCode': 'FI',
  'Slug': 'finland',
  'NewConfirmed': 0,
  'TotalConfirmed': 1105211,
  'NewDeaths': 0,
  'TotalDeaths': 4627,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'a4f4fd26-22d1-4c4c-a361-4623910f4f4d',
  'Country': 'France',
  'CountryCode': 'FR',
  'Slug': 'france',
  'NewConfirmed': 25172,
  'TotalConfirmed': 29813848,
  'NewDeaths': 3,
  'TotalDeaths': 149506,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '08fcfe23-133c-4e1c-bd16-02778d98eb0e',
  'Country': 'Gabon',
  'CountryCode': 'GA',
  'Slug': 'gabon',
  'NewConfirmed': 0,
  'TotalConfirmed': 47677,
  'NewDeaths': 0,
  'TotalDeaths': 304,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'ffecf029-e413-4934-b5e0-c9844eb0c839',
  'Country': 'Gambia',
  'CountryCode': 'GM',
  'Slug': 'gambia',
  'NewConfirmed': 0,
  'TotalConfirmed': 12002,
  'NewDeaths': 0,
  'TotalDeaths': 365,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': '9594f863-301c-482b-ba0d-da60a7cc0fff',
  'Country': 'Georgia',
  'CountryCode': 'GE',
  'Slug': 'georgia',
  'NewConfirmed': 0,
  'TotalConfirmed': 1655221,
  'NewDeaths': 0,
  'TotalDeaths': 16811,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '2022-06-06T00:52:54.553Z',
  'Premium': {}},
 {'ID': 'c13d1f4a-3d27-4b02-b349-5b00389a4322',
  'Country': 'Germany',
  'CountryCode': 'DE',
  'Slug': 'germany',
  'NewConfirmed': 0,

In [156]:
type(json['Global'])

dict

In [157]:
type(json['Countries'])

list

In [158]:
type(json['Date'])

str

In [159]:
# Countires is a list of dictionaries so let's explore further 
json['Countries'][0]

{'ID': '2dc7249a-503a-47ca-9901-09799587a982',
 'Country': 'Afghanistan',
 'CountryCode': 'AF',
 'Slug': 'afghanistan',
 'NewConfirmed': 31,
 'TotalConfirmed': 180615,
 'NewDeaths': 0,
 'TotalDeaths': 7708,
 'NewRecovered': 0,
 'TotalRecovered': 0,
 'Date': '2022-06-06T00:52:54.553Z',
 'Premium': {}}

In [160]:
df_countries = pd.DataFrame(json['Countries'])

In [161]:
df_countries

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,2dc7249a-503a-47ca-9901-09799587a982,Afghanistan,AF,afghanistan,31,180615,0,7708,0,0,2022-06-06T00:52:54.553Z,{}
1,3b4e7a32-560e-4f75-a665-a9b90f8b938f,Albania,AL,albania,32,276342,0,3497,0,0,2022-06-06T00:52:54.553Z,{}
2,6254e385-f97d-4574-ba0c-04dc9ef9cc21,Algeria,DZ,algeria,0,265889,0,6875,0,0,2022-06-06T00:52:54.553Z,{}
3,ff4fc1d2-280d-40da-a784-62e4fc3ad00c,Andorra,AD,andorra,0,43067,0,153,0,0,2022-06-06T00:52:54.553Z,{}
4,909d6a0b-00b3-4880-ab89-7a6cea152a13,Angola,AO,angola,0,99761,0,1900,0,0,2022-06-06T00:52:54.553Z,{}
...,...,...,...,...,...,...,...,...,...,...,...,...
190,dd283451-a0aa-4909-ae69-c9fd97e2773b,Venezuela (Bolivarian Republic),VE,venezuela,64,523833,0,5722,0,0,2022-06-06T00:52:54.553Z,{}
191,2930b2cc-b998-4b54-a514-d6c65cca54a2,Viet Nam,VN,vietnam,881,10724554,0,43080,0,0,2022-06-06T00:52:54.553Z,{}
192,fa78125c-a45f-42a3-afd5-619c009efbc6,Yemen,YE,yemen,0,11822,0,2149,0,0,2022-06-06T00:52:54.553Z,{}
193,486d405d-6f60-4274-8a66-1baa8f6b6047,Zambia,ZM,zambia,0,322207,0,3988,0,0,2022-06-06T00:52:54.553Z,{}
194,1762f4a7-55eb-46e9-9d78-c0add8cc8b89,Zimbabwe,ZW,zimbabwe,0,253236,0,5509,0,0,2022-06-06T00:52:54.553Z,{}

# Task 2: Get data of confirmed cases in the UK starting from the first recorded case

- Hint: Refer to the API documenataion to understand how to query this data

# Task 3: Create a pandas dataframe for the data obtained in task 2